body {
    background-image: url(../../images/CertScrum.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center 0%;
    background-color: whitesmoke;
}

#DivNome {
    padding-top: 13.5%;
}

#PNome {
    font-family: Dancing Script;
    font-size: 55px;
    text-align: center;
}

#DivData {
    padding-left: 35.5%;
    padding-top: 1%;
}

#PData {
    font-family: Dancing Script;
    font-size: 30px;
}

#DivScore {
    padding-left: 75%;
    margin-top: -3.6%;
}

#PScore {
    font-family: Dancing Script;
    font-size: 30px;
}
