body {

    margin: 0;
    padding: 0;
    overflow-x:  hidden;
    font-family: 'Roboto', sans-serif;
    
}

.top-bar {

    width: 100%;
    display: flex;
    flex-direction: row;
    background: #D9D9D9;
    height: 100px;
    align-items: center;
    box-shadow: 1px 2px 2px 1px #d8cccc;
    position: absolute;
    top: 0;    
    
    
}

.top-bar > h1 {

    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin-left: 25px;
    font-size: 2rem;
}

.top-bar #greeting {

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: absolute;
    right: 0;
    margin-right: 3%;
    font-size: 1.7rem;
}

.top-bar .innova-logo {

    margin-left: 45px;
}

#search {

    width: 35vw;
    border-radius: 10px;
    display: flex;
    outline: none;
    border: none;
    padding: 12px;
    margin-left: 190px;
    align-items: center;
    font-size: 1vw;

}


#search::placeholder {

    font-size: 1vw;
}

#search  .searchtype {

    font-size: 1vw;
}


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    margin-top: -28px;
    background-color: #0b395f;
    overflow-x: hidden; 
    padding-top: 30px; 
    transition: 0.5s;
    align-items: center;
    justify-content: end;
    display: flex;
  }

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    

}

.sidenav a:last-child {

  color: red;
  position: absolute;
  margin-top: 280%;
  
}


.sidenav a:last-child:hover {

  color: rgb(87, 7, 7);
  
}


.sidebar-links {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.sidenav a:hover {
    color: #818181;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 4rem;
    margin: auto;

 }

 @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.btn-sidebar {

    margin-left: 20px;
    position: absolute;
    top: 0;
    transform: translateY(150%);
    left: 0;
    color: black;
}

.main-avaliacao {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .questoes-container {
    background-color: #D9D9D9;
    padding: 80px;
    border-radius: 15px;
    max-width: 700px;
    height: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .questoes-container > h3 {

    font-weight: 300;
    font-size: 2rem;
    
  }

  .questoes-container > h2 {

    font-weight: 600;
    font-size: 2rem;
    margin-top: 0;
    
  }

  .text-area {
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    height: 170px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 5px solid #0BA3F9;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-area p {

    margin: 0;
    font-size: 1.7rem;
    font-weight: 500;
    display: inline;
    
  }

h3 {

    margin-top: 0px;
  }

  .options {
    display: flex;
    justify-content: space-around;
    position: absolute; /* Definir como posição absoluta */
    bottom: 50px; /* Posicionar as opções a partir do fundo da questão */
    left: 50%; /* Alinhar ao centro */
    transform: translateX(-50%); /* Centralizar horizontalmente */
    width: 80%; /* Definir largura */
    
  }

  .options label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    
  }

  .options input {
    margin-right: 5px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    
  }

  .options input + span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid #0BA3F9;
    border-radius: 50%;
    margin-right: 5px;
    transition: background 0.3s;
    cursor: pointer;
  }

  .options input:checked + span {
    background-color: #0BA3F9;
  }


  .setinhas {

    
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

  .setinhas > h1 {

    color: #0BA3F9;
    font-size: 4rem;
    font-weight: bolder;
    cursor: pointer;
    
  }

  
  .btn-conclusao {

    color: #fff;
    background-color: #0BA3F9;
    padding: 25px;
    border-radius: 10px;
    position: absolute;
    margin: 1%;
    right: 0;
    border: none;
    cursor: pointer;

  }

  .btn-conclusao:hover {

    background-color: #86d1fc;
  }


  .popup-box-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    z-index: 1000; /* Z-index alto para garantir que a caixa de diálogo esteja na frente de todo o conteúdo */
  }

  .popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #b9b9b9;
    border-radius: 10px;
    text-align: center;
    
  }