body {

    margin: 0;
    overflow: hidden;
}

h2 {

    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    margin-bottom: 0px;
    text-align: center;
    font-size: 4vw;
    margin-top: 20px;
}

h3 {

    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    margin-bottom: 0px;
    font-size: 2vw;
    text-align: center;
    margin-top: 1;
}

.main-login {

/* CSS Card de Login */
    width: 100vw;
    height: 80vh;
    background: #082a46;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {

    width:65%;
    width: 45vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: #fff;
}

.banner-innova {

    width: 30vw;
}

.right-login {

    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {

    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 75px 45px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 40px;
}

.card-login > h1 {

    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
}

.textfield {
    margin: 10px 0px;
    width: 90%;
}


.textfield > input {

    width: 90%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #D9D9D9;
    outline: none;
    box-sizing: border-box;

}

.textfield > label {

    color: #000000;
    margin-bottom: 10px;
    
}

.btn-login { /* Botão de Login */

    width: 60%;
    padding: 13px 0px;
    margin: 35px;
    margin-top: 30px;
    border: none;
    border-radius: 15px;
    background: #049bf3;
    cursor: pointer;
    color: #fff;
    font-weight: 800;
}
.btn-login:hover { /* Para quando passar o mouse a cor do botão se alterar */

    background-color: #0a6aa1;
}

p { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1vw;
    margin: 0;
    padding: 0;
}

p a { 

    color: #0CA0F3;
    font-weight: 500;
    margin-top: 1;
}

.errormsg {

    align-self: flex-start;
    display: none;
    margin-left: 6%;
    color: red;
    margin-top: 10px;
}



@media only screen and (max-width: 950px) {

    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {

    .main-login {
        flex-direction: column;
    }

    h2 {
        position: absolute;
        bottom: 0;
        font-size: 10vw;
        margin-bottom: 60px;
    }
    h3 {

    display: none;
    }
    .left-login {
        width: 100%;
        height: auto;
    }
    .right-login {
        width: 95%;
        height: auto;
    }

    .textfield {

        width: 100%;
    }

    .textfield > input {

        width: 100%;
    }
    .banner-innova {

        width: 40vw;

    }

    p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 375px) {

    h2 {

        margin-bottom: 10px;
    }

    p {

        font-size: 15px;
    }
    .banner-innova {

        margin-left: 100px;
        width: 500px;
        width: 35vw;
    }

}