/* Remove a margem padrão da página */

body {

    margin: 0;
}



/* CSS Card de Cadastro */


.titulo {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: -90px;
    
}



.cadastro-card {

    width:65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #fff;
    border-radius: 20px;
    border-top: 8px solid #0CA0F3;
    box-shadow: 0px 10px 40px;
    height: 80%;
    position: relative;
}



.main-cadastro { /* Div que está o card de cadastro */

    width: 40vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    padding-right: 180px;
    
}

.banner-innova {

    position: absolute;
    left: 0;
    margin-left: 265px;
}

.card-top {

    width: 100%;
    height: 70px;
    border-bottom: 1px solid #807b7b;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: #e4e3e3;
    border-radius: 20px 20px 0 0;
}

.card-top > h1 {

    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin-top: 17px;
    
}

.cadastro-img-innova {

    margin-right: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin-left: 10px;
}


.cadastro-img {

    position: absolute;
    right: 0;
    margin-right: 130px;
    margin-top: 8px;
}

.card-top > h2 {

    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 30px;
    position: absolute;
    right: 0;
    margin-top: 17px;
    margin-right: 10px;
}

.textfield {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 130px 0px;
    width: 25vw;
}


.textfield > input {

    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #d9d9d9;
    outline: none;
    box-sizing: border-box;
    font-size: 1vw;
    
}

.textfield .first-input {

    margin-bottom: 110px;
}

.textfield > label {

    color: black;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
}

.btn-cadastrar { /* Botão de Login (na verdade é um link)*/

    display: inline-block;
    text-align: center;
    width: 50%;
    padding: 12px 0px;
    margin: 0;
    border: none;
    border-radius: 15px;
    outline: none;
    font-weight: 700;
    background: #0CA0F3;
    cursor: pointer;
    color: #fff;
    font-size: large;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;

}

.btn-cadastrar a {

    font-family: 'Roboto', sans-serif;
    
}

.btn-cadastrar:hover { /* Para quando passar o mouse a cor do botão se alterar */

    background-color: #0e85ca;
}

/* MEDIA QUERIES PARA TELAS MENORES, ESPECIFICAMENTE 1366X768 APENAS POR ENQUANTO */

@media screen and (max-width: 1366px) {

    .banner-innova {

        position: absolute;
        left: 0;
        margin-left: 105px;
    }
}

@media screen and (max-height: 768px) {

    .btn-cadastrar { /* Botão de Login (na verdade é um link)*/

        display: inline-block;
        text-align: center;
        width: 50%;
        padding: 12px 0px;
        margin: 0;
        border: none;
        border-radius: 15px;
        outline: none;
        font-weight: 700;
        background: #0CA0F3;
        cursor: pointer;
        color: #fff;
        font-size: large;
        text-decoration: none;
        font-size: 1vw;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 100px;
    
    }

    .main-cadastro {

        padding-right: 90px;
    }
}

@media screen and (max-height: 720px) {

    .btn-cadastrar {

        margin-bottom: 20px;
    }

    .textfield {

        margin: 100px;
    }

    h2 {

        display: none;
    }

    .cadastro-img {

        margin-right: 10px;
    }
    
}