body {

    margin: 0;
    padding: 0;
    overflow-x:  hidden;
    font-family: 'Roboto', sans-serif;
    
}

.top-bar {

    width: 100%;
    display: flex;
    flex-direction: row;
    background: #D9D9D9;
    height: 100px;
    align-items: center;
    box-shadow: 1px 2px 2px 1px #d8cccc;
    position: relative;
    
    
    
}

.top-bar > h1 {

    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin-left: 25px;
    font-size: 2rem;
}

.top-bar #greeting {

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: absolute;
    right: 0;
    margin-right: 3%;
    font-size: 1.7rem;
}

.top-bar .innova-logo {

    margin-left: 45px;
}

#search {

    width: 35vw;
    border-radius: 10px;
    display: flex;
    outline: none;
    border: none;
    padding: 12px;
    margin-left: 190px;
    align-items: center;
    font-size: 1vw;

}


#search::placeholder {

    font-size: 1vw;
}

#search  .searchtype {

    font-size: 1vw;
}


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    margin-top: -28px;
    background-color: #0b395f;
    overflow-x: hidden; 
    padding-top: 30px; 
    transition: 0.5s;
    align-items: center;
    justify-content: end;
    display: flex;
  }

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    

}

.sidebar-links {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.sidenav a:hover {
    color: #818181;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 4rem;
    margin: auto;

 }

 @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.btn-sidebar {

    margin-left: 20px;
    position: absolute;
    top: 0;
    transform: translateY(150%);
    left: 0;
    color: #fff;
}

.courses-container {

    max-width: 1400px;
    margin: 5% 6% 0;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 160px; 
    position: relative;
}

.courses-container a {

    color: black;
    text-decoration: none;
}

.card {

    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 40px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #0BA3F9;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 40px;
    width: 100%;
    
        
}

.card:hover {

    text-decoration: underline;
}





.card #card1-img {

    align-self: center;
}

.card #card2-img {

    align-self: center;
}

.card #card3-img {

    align-self: center;
}

.card #card4-img {

    align-self: center;
}

.card #card5-img {

    align-self: center;
}


.footer {

    background-color: #0b395f;
    color: white;
    padding: 15px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
/* top, right, bottom and left */

