body {

    margin: 0;
    padding: 0;
    overflow-x:  hidden;
}


.top-bar {

    width: 100%;
    display: flex;
    flex-direction: row;
    background: #D9D9D9;
    height: 100px;
    align-items: center;
    box-shadow: 1px 2px 4px 1px #c2baba;
    position: relative;
    
}

.top-bar > h1 {

    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin-left: 25px;
    font-size: 2rem;
}

.top-bar #greeting {

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: absolute;
    right: 0;
    margin-right: 3%;
    font-size: 1.7rem;
}

.top-bar .innova-logo {

    margin-left: 45px;
}

#search {

    width: 35vw;
    border-radius: 10px;
    display: flex;
    outline: none;
    border: none;
    padding: 12px;
    margin-left: 190px;
    align-items: center;
    font-size: 1vw;

}


#search::placeholder {

    font-size: 1vw;
}

#search  .searchtype {

    font-size: 1vw;
}


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    margin-top: -28px;
    background-color: #082A46;
    overflow-x: hidden; 
    padding-top: 30px; 
    transition: 0.5s;
    align-items: center;
    justify-content: end;
    display: flex;
  }

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    

}

.sidebar-links {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.sidenav a:hover {
    color: #818181;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 4rem;
    margin: auto;

 }

 @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.btn-sidebar {

    margin-left: 20px;
    position: absolute;
    top: 0;
    transform: translateY(150%);
    left: 0;
}


.home-banner {

    width: 100%;
    background: #f1f7f8;
    display: flex;
    align-items: center;
    height: 5vh;
    
    
    

    
}

.text-col > h1 {

    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: black;
    position: absolute;
    margin: 0;
    transform: translateY(-130%); 
    width: 30%; 
    font-size: 2.5vw;
    margin-bottom: 0px;
    
}

.text-col > p {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 0px;
    
    
}

.text-col {

    margin-left: 250px;
    width: 35%;
    font-size: 20px;

    
}

@media screen and (max-width: 1510px) {

    .text-col {

        margin-left: 10%;
    }
}

@media screen and (max-width: 1287px) {

    .text-col {

        margin-left: 10%px;
    }
}


.info-section {

    color: #fff;
    margin: 0 30px 0;
    
    
    
}

.info-text > h2 {

    margin: 0;
}

.info-text {

    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    justify-content: space-around;

}

.info-descricoes {

    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    justify-content: space-around;

}

.info-descricoes > p {

    margin-top: 0;
    margin-bottom: 0;
}




.scrum-slideshow {

    position: relative;
    max-width: 800px;
    margin-left: 10%;
    overflow: hidden;
    margin-top: 10px;
    
    
}

.slides {

    display: flex;
    transition: 0.7s ease;
    align-items: flex-end;
}

.slides img {

    width: 100%;
    flex-shrink: 0;
    height: auto;
}

.img-scrum {

    max-width: 800px;
    margin-left: 10%;
    margin-top: 10px;
    
    
}

button {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.prev {

    left: 0;
    

}

.next {

    right: 0;
}


.website-mid {

    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 20px 30px 0;
}

.website-mid-text {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    justify-content: right;
    margin-left: 10%;
    
}

.website-mid-text > h1 {

        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 50px;
        text-align: center;
}

#midtext-desc {

    font-size: 20px;
    margin-top: 15px;
}

.footer {

    background-color: #0b395f;
    color: white;
    padding: 15px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* MEdia query para a segunda imagem do site */
@media screen and (max-width: 1366px) {

    .img-scrum {

        width: 600px;
        height: 350px;
        margin-top: 35px;
    }
}

/* max-width: 800px;
    margin-left: 10%;
    margin-top: 10px; */