/* Remove a margem padrão da página */

body {

    margin: 0;
}



/* CSS Card de Login */

.login-card {

    width:65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 10px 40px;
}

.login-card > h1 { /* Texto seja bem-vindo(a) do card de login */

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.main-login { /* Div que está o card de login */

    width: 40vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 210px;
    
}

.banner-innova {

    position: absolute;
    left: 0;
    margin-left: 250px;
}

.textfield {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 30px 0px;
    width: 20vw;
}

.textfield > input {

    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #d9d9d9;
    outline: none;
    box-sizing: border-box;
    font-size: 1vw;
}

.textfield > label {

    color: #000000;
    margin-bottom: 10px;
    font-size: 1vw;
}


.btn-login { /* Botão de Login */

    width: 50%;
    padding: 12px 0px;
    margin: 25px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-weight: 700;
    background: #0CA0F3;
    cursor: pointer;
    color: #fff;
    font-size: large;

}

.btn-login:hover { /* Para quando passar o mouse a cor do botão se alterar */

    background-color: #0e85ca;
}


p { /* (Não possui uma conta? Cadastre-se) */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}

p a { /* Link do Cadastre-se, altera a cor para um azul mais vivo */

    color: #0CA0F3;
    font-weight: 500;
}

h2 {

    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    margin-bottom: 0px;
    text-align: center;
    font-size: 4vw;
    margin-top: 20px;
}

h3 {

    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    margin-bottom: 0px;
    font-size: 2vw;
    text-align: center;
    margin-top: 1;
}

